* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0033a0; /* Azul dos EUA */
    color: white;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

header p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #d92d2a; /* Vermelho dos EUA */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#desconto p {
    font-size: 20px;
    color: #b22234; /* Vermelho mais intenso */
}

form input, form button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

form input {
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #b22234; /* Vermelho mais intenso */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #9e1b28; /* Vermelho mais escuro */
}

footer {
    background-color: #002f6c; /* Azul mais escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}
